{% extends 'base.html' %}

{% block content %}
<nav id="pagenav">
</nav>
<div id="content">
    <h1>Add new User</h1>
    <p>Please type in you desired username and password.</p>
    <p>So far PolarWords is just for one instructor/admin which will be the first user added. If there is a demand for several instructors it might be implemented, preparations for for several instructors are implemented already.</p>
    <form action='{{ path }}' method='POST'>
        <input type='text' name='username' id='username' placeholder='username'></input>
        <input type='password' name='password' id='password' placeholder='password'></input>
        <input type='submit' name='submit'></input>
    </form>
</div>

<script src="{{ relroot }}_static/getFormJson.js"></script>
<script src="{{ relroot }}_static/polalert.js"></script>

{% endblock %}
